body{
    text-align: center;
    background-color: black;
}

h2{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

p{
    font-family: verdana;
    font-size: 21px;
    color: gray;
}

a{
    color: aquamarine;
    font-size: 16px;
}
#icon{
    padding-top: 50px;

}

#link{
    text-align: right;
    color: gray;
    font-size: 16px;
}